.todo-item{
    background-color: rgb(102, 102, 102);
    width: 100%;
    padding: 1rem;
    border-radius: 0.3rem;
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
}

.todo-item.last{
    margin-bottom: 0;
}

.todo-item .item-checkbox{
    margin-right: 0.8rem;
}

.todo-item .item-checkbox{
    margin-right: 0.8rem;
}

.todo-item .time-trash-container{
    width: 12rem;
    display: flex;
    justify-content: space-around;
}

.todo-item .fa-trash-can{
    color: rgb(24, 24, 24);
    cursor: pointer;
}

.todo-item .fa-trash-can:hover{
    filter: brightness(3);
}
